<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/css/styles.css' />
    <link rel="icon" href="/img/weather-icon.png">
    <title>About</title>
  </head>
  <body>
    <div class="main-container">
      {{>header}}
      <img class="about-img" src='/img/profile_pic.jpg' alt='' />
      <p>I'm Artur Ribeiro da Cunha and you can find my github profile <a href="http://www.github.com/arturRDC">here.</a></p>

      <p>This website was built using Node.js backend with an express server.</p>
      <p>The app uses <a href="https://weatherstack.com/">WeatherStack</a> API and the <a href="https://positionstack.com/">PositionStack</a> API to fetch data.</p>

    </div>
    {{>footer}}
  </body>
</html>